<p id="notice"><%= notice %></p>
<%= form_with( model:Task.new, method: :get, local: true ) do |f| %>
  <%= f.label :task_name_key, ('sarch_task_name') %>
  <%= f.text_field :task_name_key %>
  <%= f.label :status_key, ('sarch_status') %>
  <%= f.text_field :status_key %>
  <%= f.hidden_field :search, value: 'true' %>
  <br>
  <%= f.submit ('検索') %>
<% end %>
<br>
<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
<br>
<%= link_to "優先順位でソートする", tasks_path(sort_priority: "true") %>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Task name</th>
      <th>Detail</th>
      <th>Deadline</th>
      <th>Status</th>
      <th>Priority</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.detail %></td>
        <td><%= task.deadline %></td>
        <td><%= task.status %></td>
        <td><%= task.priority %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Task', new_task_path %>
